<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>AirBnB</title>

<link href="css/registrationstyle.css" rel="stylesheet" type="text/css"/>
	<link href="css/toast.css" rel="stylesheet" />
	<script src="scripts/toast.js"></script>
	<script src="scripts/jquery.min.js"></script>
</head>
<body>
<div id="sadrzaj">
<table>
<tr>
	<td>
		<table id="sadrzaji">
			<tr>
				<th>ID</th>
				<th>Naziv sadrzaja</th>
			</tr>
			<tr v-for="a in amenities">
					<td>{{a.id }}</td>
					<td>{{a.name }}</td>
				</tr>
		</table>
	</td>
	<td>
		<form v-on:submit.prevent="" method="put">
			<table>
				<tr>
					<td>Naziv sadrzaja:</td>
					<td><input class="input" placeholder="Unesite naziv sadrzaja" type="text" v-model="amenitiename" name="amenitiename"/></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="Izmeni"/></td>
				</tr>
			</table>
		</form>
	</td>
</tr>

</table>

<form v-on:submit.prevent="checkFormValid" method="post">
	<table>
		<tr>
			<td>Naziv sadrzaja:</td>
			<td><input class="input" placeholder="Unesite naziv sadrzaja" type="text" v-model="amenitiename" name="amenitiename"/></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="Dodaj"/></td>
		</tr>
	</table>
</form>
</div>
	<script src="scripts/vue.js"></script>
	<script src="scripts/axios.js"></script>
	<script src="scripts/moment.min.js"></script>
	<script src="js/registration.js"></script>
</body>
</html>